<!-- Modal HTML Markup -->
<div id="AddRation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="overflow: auto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary">Add Ration</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <form [formGroup]="addRationForm" (ngSubmit)="addRation()" class="register-form" id="register-form">
              <div class="form-row">
                <label class="col-md-6 col-form-label " for="name">Ration Name</label>
                <input class="col-md-6" type="text" name="name" id="name" formControlName="name"
                       placeholder="Ration Name"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <label class="col-md-6 col-form-label " for="ration">Ration quantity</label>
                <input class="col-md-6" type="number" name="ration" id="ration" formControlName="ration"
                       placeholder="Quantity"
                       [ngClass]="{ 'is-invalid': submitted && f.ration.errors }"/>
                <div *ngIf="submitted && f.ration.errors" class="invalid-feedback">
                  <div *ngIf="f.ration.errors.required">Quantity is required</div>
                </div>
              </div>
              <br>

              <div class="form-row">

                <label class="col-md-6 col-form-label " for="hours">Ration hours</label>
                <input class="col-md-6" type="number" name="hours" id="hours" formControlName="hours"
                       placeholder="Hours"
                       [ngClass]="{ 'is-invalid': submitted && f.hours.errors }"/>
                <div *ngIf="submitted && f.hours.errors" class="invalid-feedback">
                  <div *ngIf="f.hours.errors.required">Hours is required</div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <label class="col-md-6 col-form-label " for="minutes">Ration minutes</label>
                <input class="col-md-6" type="number" name="minutes" id="minutes" formControlName="minutes"
                       placeholder="Minutes"
                       [ngClass]="{ 'is-invalid': submitted && f.minutes.errors }"/>
                <div *ngIf="submitted && f.minutes.errors" class="invalid-feedback">
                  <div *ngIf="f.minutes.errors.required">Minutes is required</div>
                </div>
              </div>
              <br>
              <div class="form-row">

                <label class="col-md-6 col-form-label " for="#petName">Pet Name</label>
                <select formControlName="petId" class=" col-md-6 form-control" id="#petName" ngModel="pets">
                  <option value="">Choose a pet</option>
                  <option *ngFor="let o of pets">
                    {{o.name}}
                  </option>
                </select>
              </div>
              <br>
              <div *ngIf="errorMessage" class="alert alert-danger">
                <strong>Error!</strong> {{'Error in add new ration'}}
              </div>
              <div class="modal-footer" style="border-top: 0 none;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="addRationButton" id="addRationButton">
                  Add Ration
                </button>
              </div>
            </form>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
