<!-- Modal HTML Markup -->
<div id="AddFeed" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary">Add Feed</h2>
      </div>
      <div class="modal-body">
        <section class="signup">
          <div class="signup-form">
            <form [formGroup]="addFeedForm" (ngSubmit)="addFeed()" class="register-form" id="register-form">
              <div class="form-group">
                <label for="quantity"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="quantity" id="quantity" formControlName="quantity" placeholder="Quantity"/>
              </div>
              <div class="form-group">
                <label for="kcal"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="kcal" id="kcal" formControlName="kcal" placeholder="KCal"/>
              </div>
              <div class="form-group">
                <label for="fodder"><i class="zmdi zmdi-email"></i></label>
                <input type="text" name="fodder" id="fodder" formControlName="fodder" placeholder="Fodder Name"/>
              </div>

              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="petName">
                  <option *ngFor="let pet of pets" >{{pet.name}}</option>
                </select>
                <!--- Check if in the form take the pet name select -->
                <!-- After do get to take id the pet -->
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signup" id="addFeedButton" class="form-submit " value="Add Feed"/>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
