
<div id="AllPet" class="modal">
  <div class="modal-dialog modal-xl" >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary">Pet Dashboard</h2>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table mdbtable class="card-table table">
            <thead>
            <tr>
              <th scope="col">Pet Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Ideal weight</th>
              <th scope="col">Age</th>
              <th scope="col">Pet type</th>
              <th scope="col">Breed</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pet of pets; let i=index">

              <td class="name">{{pet.name}}</td>
              <td class="weight">{{pet.weight}} kg</td>
              <td class="idealWeight">{{pet.idealWeight}} kg</td>
              <td class="age">{{pet.age}} years</td>
              <td class="petType">{{pet.petType.toString()}}</td>
              <td class="breed">{{pet.breed}}</td>
              <td>
                <a class="collapse-item openAddPetSaveModal"> <i
                  class="fas fa-fw fa-cog">

                </i></a>
              </td>

            </tr>
            </tbody>
          </table>


        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
