<div id="AllRation" class="modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary">{{modalTitle}}</h2>
      </div>
      <div *ngIf="!showEditRation" class="modal-body">
        <div class="table-responsive">
          <table mdbtable class="card-table table">
            <thead>
            <tr>
              <th scope="col">Pet Name</th>
              <th scope="col">Ration Name</th>
              <th scope="col">Hour of ration</th>
              <th scope="col">Minutes of ration</th>
              <th scope="col">Grams per ration</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ration of rations; let i=index">
              <!--              <td class="petName">{{petName[i]}}</td>-->
              <td class="petName">{{ration.name}}</td>
              <td class="rationName">{{ration.name}}</td>
              <td class="rationHour"
                  *ngIf="ration?.time else elsePerfId">{{ ration.time | date: 'h'}}</td>
              <ng-template #elsePerfId>
                <td> -</td>
              </ng-template>
              <td class="rationMin"
                  *ngIf="ration?.time else elsePerfId">{{ ration.time | date: 'mm' }}</td>
              <ng-template #elsePerfId>
                <td> -</td>
              </ng-template>
              <td class="petRationGrams" *ngIf="ration.ration; else elsePerf"> {{ration.ration }}g
              </td>
              <ng-template #elsePerf>
                <td> -</td>
              </ng-template>
              <td>
                <a class="collapse-item" (click)="EditRation(ration)"> <i
                  class="fas fa-fw fa-cog"></i></a>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div><!-- /.modal-content -->
      <div *ngIf="showEditRation" class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <form [formGroup]="updateRationForm" (ngSubmit)="updateRation(updateRationForm)" class="register-form"
                  id="register-form">
              <div class="form-group row">
                <div class=" col-sm-12 row">
                  <label class="col-sm-6" for="name">Ration Name</label>
                  <input class="col-sm-6" type="text" name="name" id="name" formControlName="name"
                         placeholder="Ration Name"/>
                </div>
              </div>
              <div class="form-group row">
                <div class=" col-sm-12 row">
                  <label class="col-sm-6" for="ration">Ration quantity</label>
                  <input class="col-sm-6" type="number" name="ration" id="ration" formControlName="ration" placeholder="Quantity"/>
                </div>
              </div>
              <div class="form-group row">
                <div class=" col-sm-12 row">
                  <label class="col-sm-6" for="minutes">Ration minutes</label>
                  <input class="col-sm-6" type="number" name="minutes" id="minutes" formControlName="minutes" placeholder="Minutes"/>
                </div>
              </div>
              <div class="form-group row">
                <div class=" col-sm-12 row">
                  <label class="col-sm-6" for="hours">Ration hours</label>
                  <input class="col-sm-6" type="number" name="hours" id="hours" formControlName="hours" placeholder="Hours" />
                </div>
              </div>
<!--              <div class="form-group row">-->
<!--                <div class="col-sm-12  row">-->
<!--                  <label class="col-sm-6" for="#petName">Pet Name</label>-->
<!--                  <select  formControlName="petId" class=" col-sm-6 form-control" id="#petName">-->
<!--                    <option *ngFor="let o of pets">-->
<!--                      {{o.name}}-->
<!--                    </option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
              <div *ngIf="errorMessage" class="alert alert-danger">
                <strong>Error!</strong> {{'Error in patch fodder'}}
              </div>
              <div class="form-group form-button  row">
                <div class="col-sm-6">
                  <input type="submit" name="signup" id="updateRationButton" class="form-submit " value="Update Ration"/>
                </div>

                <div class="form-group form-button">
                  <div class="col-sm-6">
                    <input type="submit" name="signup" id="deleteRationButton" class="form-submit "
                           value="Delete Ration"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
