<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <h1 class="mb-0 text-primary "><a href="index.html" class="d-md-block ">PFeeder<span
          class="text-primary"></span> </a></h1>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link m-2 menu-item nav-active">SignUp</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link m-2 menu-item">SignIn</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
