

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title text-primary">Profile</h2>
          <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()" class="register-form" id="register-form">
            <div class="form-group">
              <figure><img src="{{currentUser.profile.picture}}" alt="sing up image"></figure>
            </div>
            <div class="form-group">
              <!-- Come gestisco il fatto che negli avatar ci dovrebbe essere un link ad un immagine su internet e non un immagine su pc -->
              <h5> Choose a profile picture:</h5>
              <label for="avatar"></label>
              <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
              <!--aggiungere che fa parte del form per PATCH user -->
              <!--PATCH USER API VA FATTA BENE -->
            </div>
            <div class="form-group">
              <label for="firstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="firstName" id="firstName" formControlName="firstName" placeholder="{{currentUser.profile.firstName}}"/>
              </div>
            <div class="form-group">
              <label for="lastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="lastName" id="lastName" formControlName="lastName" placeholder="{{currentUser.profile.lastName}}"/>
            </div>
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-email"></i></label>
              <input type="email" name="email" id="email"formControlName="email" placeholder="{{currentUser.email}}"/>
            </div>

          </form>
        </div>
        <div class="signup-image">
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="password-form" id="password-form">
          <h4 class="form-title text-primary">Change password</h4>
          <div class="form-group">
            <label for="oldPassword"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="oldPassword" formControlName="oldPassword" id="oldPassword" placeholder="Current Password"/>
          </div>
            <div class="form-group">
              <label for="password"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password"formControlName="password" id="password" placeholder="New Password"/>
            </div>
            <div class="form-group">
              <label for="confirmPassword"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="confirmPassword"formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm new Password"/>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Change password"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
