<!-- Modal HTML Markup -->
<div id="AddRation" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary">Add Ration</h2>
      </div>
      <div class="modal-body">
        <section class="signup">
          <div class="signup-form">
            <form [formGroup]="addFeedForm" (ngSubmit)="addFeed()" class="register-form" id="register-form">
              <div class="form-group">
                <input type="text" name="quantity" id="quantity" formControlName="quantity" placeholder="Quantity"/>
              </div>
              <div class="form-group">
                <input type="text" name="kcal" id="kcal" formControlName="kcal" placeholder="KCal"/>
              </div>
              <div class="form-group">
                <select class="form-control selectpicker" formControlName="fodderName" >
                  <option value="" selected >Select Fodder Name</option>
                <!--  <option *ngFor="let fodder of fodders" [ngValue]="fodder">{{fodder.name}}</option> -->
                </select>
              </div>
              <div class="form-group">
                <input type="text" readonly name="petName" id="petName" formControlName="petName" />
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signup" id="addFeedButton" class="form-submit " value="Add Feed"/>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
