<div id="PetFodder" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: auto">
  <div class="modal-dialog modal-xl">

    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-primary text-center">{{modalTitle}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div *ngIf="!showEditPetFodder"  class="card border-left-primary shadow h-100 py-2">
          <div class="card-header">
            <div class="row no-gutters align-items-center">
              <div class="table-responsive">
                <table mdbtable class="card-table table">
                  <thead>
                  <tr>
                    <th scope="col">Pet Name</th>
                    <th scope="col">Current Fodder</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"> Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let pet of pets">
                    <td class="petName">{{pet.name}}</td>
                    <td class="currentFodder">{{pet.currentFodder.name}}</td>
                    <td class="currentFodder">{{pet.currentFodder.companyName}}</td>
                    <td class="currentFodder">{{pet.currentFodder.price}}</td>
                    <td>
                      <a class="collapse-item" (click)="editPetFodder(pet)"> <i
                        class="fas fa-fw fa-cog">

                      </i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <div *ngIf="showEditPetFodder" class="modal-body">
        <div class="row">
          <div class=" mx-auto">
            <form [formGroup]="editFodderPetForm" (ngSubmit)="updatePetFodder(editFodderPetForm)" class="register-form"
                  id="register-form">
              <div class="form-group row">
                <div class=" col-sm-12 row">
                  <label class="col-sm-6" for="name">Pet Name</label>
                  <input class="col-sm-6" type="text" name="name" id="name" formControlName="name"
                         placeholder="Pet's Name" />
                </div>
              </div>
                 <div class="form-group row">
                <div class=" col-sm-12  row">
                  <label class="col-sm-6" for="currentFodder">Current Fodder Name:</label>
                  <select [(ngModel)]="selectedOption" formControlName="currentFodder" class=" col-sm-6 form-control"
                          id="currentFodder">
                    <option *ngFor="let o of fodders">
                      {{o.name}}
                    </option>
                  </select>

                </div>
              </div>

              <div *ngIf="errorMessage" class="alert alert-danger">
                <strong>Error!</strong> {{'Error in add new pet'}}
              </div>
              <div class="form-group form-button row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <input class="form-submit" type="submit" name="signup" id="saveFodderPetButton"
                         value="Save Foddet to pet"/>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
